*{
    margin: 0;
    padding: 0;
    
}
/* -------- Efeito-Fade--------- */
.fade { /* top */
    position: relative;
    transform: translateY(20rem);
    opacity: 0;
    transition:all 1.2s ease;
}
.fade.bottom {
    transform: translateY(-20rem);
}
.fade.left {
    transform: translateY(0rem);
    transform: translateX(20rem);
}
.fade.right {
    transform: translateY(0rem);
    transform: translateX(-20rem);
}
.fade.active {
    transform: translateY(0rem);
    transform: translateX(0rem);
    opacity: 1;
}
.fade.active.delay {
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
}
main{
    background-color: #222;
    height: 100vh;
    width: 100%;
    box-shadow: inset -25rem -5rem 150rem black,
                inset 25rem -5rem 150rem black;
    display: flex;
    justify-content: center;
    flex-wrap: flex wrap;
}
.logo{
    font-family: 'Righteous', cursive;
    position: fixed;
    font-size: 4rem;
    display: flex;
    z-index: 3;
    
}
.lk-hover{
    font-family: 'Righteous', cursive;
    position: fixed;
    color: rgb(255, 166, 0);
    font-size: 6rem;
    z-index: 8;
    width: 9.9rem;
    margin-top: -7.4rem;
    background-color: rgb(29, 29, 29);
    height: 6rem;
    border-top-right-radius: 75%;
}
.logo::after{
    content:"eonardo>";
    position: fixed;
    color: rgb(255, 166, 0);
    font-size: 6rem;
    transform: translateX(-16.3rem);
    transition:1s ease-in-out .7s;

}
.logo:hover::after{
    content: "eonardo>";
    color:rgb(255, 166, 0);
    transform: translateX(9.8rem);
    transition: 1s ease-in-out .4s;
}
.logo::before{
    content:"k>";
    position: fixed;
    color: rgb(255, 166, 0);
    font-size: 6rem;
    transform: translateX(9.6rem);
    transition: .6s ease-in-out 1.4s;
}
.logo:hover::before{
    content: "k>";
    color:rgb(255, 166, 0);
    transform: translateX(3rem);
    transition: .6s ease-out .1s;
}
.navigation-bar{
    height: 6rem;
    position: fixed;
    display: flex;
    margin: 0rem;
    width: 100%;
    z-index: 1;
}
.nav-bar-content a{
    width: 13rem;
    height: 3rem;
    padding-block: 1rem;
    text-align: center;
    flex-wrap: wrap;
}
.nav-bar-content{
    background-color: black;
    box-shadow:.1rem .1rem .5rem rgb(0, 0, 0);
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    padding-inline-end: 15%;
    margin: 0;
    height: 6rem;
    align-items: center;
}
.navigation-bar a{
    font-family: 'Righteous', cursive;
    display: flex;
    padding-inline: 3rem;
    font-size: 2.6rem;
    color: wheat;
    position: relative;
    text-decoration: none;
    text-shadow: .1rem .1rem .2rem gray;
    margin: -3rem;
}
.nav-bar-icon{
    color: rgb(255, 166, 0);
    height: 3.8rem;
    width: 13rem;
    cursor: pointer;
    z-index: 2;
    background-color: black;
}
.nav-bar-content label{
    width: 15rem;
    height: 3rem;
    text-align: center;
    z-index: 1;
    margin-top: -4rem;
    font-size: 1.5rem;
}
#nav-bar-home:hover > .home-label, #nav-bar-resume:hover > .resume-label, #nav-bar-project:hover > .project-label, #nav-bar-about:hover > .about-label{
    transform: translateY(4.5rem);
    transition: .6s;
}
#nav-bar-home > .home-label, #nav-bar-resume > .resume-label, #nav-bar-project > .project-label, #nav-bar-about > .about-label{
    transform: translateY(0rem);
    transition: .3s;
}
#nav-bar-home::after, #nav-bar-resume::after, #nav-bar-project::after, #nav-bar-about::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.4rem;
    width: 100%;
    height: .3rem;
    background: rgb(255, 166, 0);
    border-radius: 20%;
    transform: scaleX(0);
    transition: transform .6s;
}
#nav-bar-home:hover::after, #nav-bar-resume:hover::after, #nav-bar-project:hover::after, #nav-bar-about:hover::after{
    transform: scaleX(.5);
}
.presents {
    font-family: 'Righteous', cursive;
    padding-top: 10rem;
    font-size:3rem;
    color:wheat;
    margin-inline: 10rem;
}
.presents h1{
    padding: 3rem;
    margin-inline: 10rem;
    width: 90%;
}
.presents i{
    color: rgb(255, 166, 0);
    font-size: 6rem;
    font-style: normal;
}
.presents p{
    font-size: 10rem;
    color: rgb(255, 166, 0);
}
#name{
    color: rgb(255, 166, 0);
    text-decoration: none;
}
#name:hover{
    text-decoration:double underline rgb(255, 166, 0) .2rem;
}

footer{
    height: 10vh;
    width: 100%;
}
